DEBUG=True
SECRET_KEY=change-me-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

POSTGRES_DB=psiline
POSTGRES_USER=psiline
POSTGRES_PASSWORD=psiline
POSTGRES_HOST=db
POSTGRES_PORT=5432
